<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
  <meta name="description" content="MonoMuse website redesign project">
  <title>MonoMuse</title>

</head>
<body>
  <header>
    <h1>Exhibitions</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
  </header>

  <div class="main">
    <h3>
        Exhibition 1: Virtual Dreams - Immersive Experience
    </h3>
    <p>
        This exhibition immerses guests via virtual reality, taking them back into history. Guests can explore a variety of settings, such as ancient medieval times, the stone age, and the iron age.
    </p>

    <h3>
        Exhibition 2: Algorithms and Artists 
    </h3>
    <p>
        This exhibition treats guests to a special experience full of our greatest artists and their works. Connected by sophisticated algorithms, interacting with one artist's work connects guests to a different artist based on their experiences.
    </p>
  </div>

  <main>

  </main>

  <footer>
    <p>2026 MonoMuse. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>
