<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
  <meta name="description" content="MonoMuse website redesign project">
  <title>MonoMuse</title>

</head>
<body>
  <header>
    <h1>Explore</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
  </header>

  <div class="main">
    <img src="../static/images/monomuse.png" alt="image of MonoMuse" style width="50%">

    <h2>Mission Statement</h2>
    <p>MonoMuse is a museum dedicated to serving the community with carefully curated pieces and artworks from the past. Our mission is to serve the broader Pittsburgh community, and to teach the community about the intersection of technology and art.</p>

    <h2>Milestones</h2>
    <ul>
        2021 - MonoMuse gets equipped with Virtual Reality technology for more immersive experiences
    </ul>
    <ul>
        2019 - MonoMuse opens its doors to the Pittsburgh community.
    </ul>

  </div>

  <main>

  </main>

  <footer>
    <p>2026 MonoMuse. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>
