<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
  <meta name="description" content="MonoMuse website redesign project">
  <script src="../static/script.js" defer></script>
  <title>MonoMuse</title>

</head>
<body onload="addYear()">
  <div class="container">
    <header class="header">
    </header>

    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>

    <main class="main">
      <h3>
          Exhibition 1: Virtual Dreams - Immersive Experience
      </h3>
      <p>
          This exhibition immerses guests via virtual reality, taking them back into history. Guests can explore a variety of settings, such as ancient medieval times, the stone age, and the iron age.
      </p>

      <h3>
          Exhibition 2: Algorithms and Artists
      </h3>
      <p>
          This exhibition treats guests to a special experience full of our greatest artists and their works. Connected by sophisticated algorithms, interacting with one artist's work connects guests to a different artist based on their experiences.
      </p>
    </main>

    <figure class="main_figure main_img">
      <img id="logo" src="../static/images/monomuse_logo.png" alt="MonoMuse Museum Logo">
    </figure>

    <footer class="footer">
      <p id="copyYear"></p>
    </footer>
  </div>
</body>
</html>
