<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
  <meta name="description" content="MonoMuse website redesign project">
  <script src="../static/script.js" defer></script>
  <title>MonoMuse</title>

</head>
<body onload="addYear()">
  <div class="container">
    <header class="header">
    </header>

    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>

    <main class="main">
      <img src="../static/images/monomuse.png" alt="image of MonoMuse" style="width: 50%;">

      <h2>Mission Statement</h2>
      <p>MonoMuse is a museum dedicated to serving the community with carefully curated pieces and artworks from the past. Our mission is to serve the broader Pittsburgh community, and to teach the community about the intersection of technology and art.</p>

      <h2>Milestones</h2>
      <ul>
          <li>2021 - MonoMuse gets equipped with Virtual Reality technology for more immersive experiences</li>
          <li>2019 - MonoMuse opens its doors to the Pittsburgh community.</li>
      </ul>
    </main>

    <figure class="main_figure main_img">
      <img id="logo" src="../static/images/monomuse_logo.png" alt="MonoMuse Museum Logo">
    </figure>

    <footer class="footer">
      <p id="copyYear"></p>
    </footer>
  </div>
</body>
</html>
